*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
}

button {
  font: inherit;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  align-items: end;
  gap: 30px;
}


.result__video-container {
  height: 386px;
  margin-block-start: 78px;
  margin-block-end: 16px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 54px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  line-height: 100%;
  font-size: 18px;
  margin-block-end: 5px;
}

.search-form__textfield {
  font-family: inherit;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  border-inline-start: none;
  border-inline-end: none;
  width: 225px;
  appearance: none;
  font-weight: 400;
}

.search-form__label-text {
  font-weight: 400;
  line-height: 100%;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  min-inline-size: 49px;
  justify-content: space-between;
}

.search-form__label-text {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__submit-button {
  padding: 6px 73.5px;
}

.content__details {
  width: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow-y: scroll;
  margin-block-start: 26px;
}

.content__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex: 0 0 auto;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  margin-block-end: 6px;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16.2px;
}